<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConsoleParser.allsetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ConsoleParser.database" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <ConsoleParser.allsetting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>raspisanie</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>schedule_user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Logging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Log_Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="After_Delete_File" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="homedir" serializeAs="String">
                <value>C:\schedule-parser\</value>
            </setting>
            <setting name="homedirlinux" serializeAs="String">
                <value>/opt/schedule-parser/</value>
            </setting>
        </ConsoleParser.allsetting>
        <ConsoleParser.database>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>raspisanie</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>schedule_user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>change-me</value>
            </setting>
        </ConsoleParser.database>
    </userSettings>
</configuration>
